h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* CSS for form fields */
  form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* CSS for labels */
  label {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }
  
  /* CSS for form fields */
  input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 100%;
  }
  
  input[type="date"] {
    height: 40px;
  }
  
  /* CSS for error messages */
  .error {
    color: #f00;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  min-width: 100px;
}

button[type="submit"] {
  font: 'Lato'; 
  background-color: #4b77c9;
  color: #fff;
}

button[type="cancel"] {
  background-color: rgb(255, 250, 250);
  color: #269dc7;
  border: 1px solid #269dc7;
}

button[type="submit"]:hover {
  background-color: #269dc7;
}

button[type="cancel"]:hover {
  background-color: rgb(199, 16, 16);
}


 
  /* CSS for success and error messages */
  .success {
    color: #2ecc71;
    font-size: 16px;
    margin-top: 10px;
  }
 
  .error {
    color: #f00;
    font-size: 16px;
    margin-top: 10px;
  }
  
  /* CSS for media queries */
@media screen and (min-width: 768px) {
    /* For tablet and larger screens */
    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    form {
      width: 50%;
      padding: 30px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
  
    label {
      font-size: 20px;
    }
  
    input {
      font-size: 18px;
    }
  
    input[type="date"] {
      height: 50px;
    }
  }
  
  @media screen and (max-width: 767px) {
    /* For mobile screens */
    form {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
  
    label {
      font-size: 16px;
    }
  
    input {
      font-size: 14px;
    }
  
    input[type="date"] {
      height: 40px;
    }
  }